<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sostrovsky.androidrxjavaedu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".observable.operator.ObservableOperatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".observable.operator.creating.ObservableCreatingActivity"
            android:parentActivityName=".observable.operator.ObservableOperatorActivity" />
        <activity
            android:name=".observable.operator.transforming.ObservableTransformingActivity"
            android:parentActivityName=".observable.operator.ObservableOperatorActivity" />
        <activity
            android:name=".subject.SubjectActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".subject.publish_subject.PublishSubjectActivity"
            android:parentActivityName=".subject.SubjectActivity" />
        <activity
            android:name=".subject.publish_subject.example1.AlertDialogChainActivity"
            android:parentActivityName=".subject.publish_subject.PublishSubjectActivity" />
        <activity
            android:name=".subject.publish_subject.example2.HandleSearchTextChangeActivity"
            android:parentActivityName=".subject.publish_subject.PublishSubjectActivity" />

    </application>

</manifest>